CADDY_HOST=localhost
HTTP_PORT=5050
HTTP_HOST=0.0.0.0
HTTP_ALLOWED_ORIGINS=http://localhost:5050,null
HTTP_SHUTDOWN_TIMEOUT=30s

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_TIMEOUT=10s

SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_HOST=
SMTP_PORT=
SMTP_FROM=
SMTP_TIMEOUT=5s

REDIS_PASSWORD=

LOGGER_LEVEL=DEBUG

TIME_ZONE=UTC
